:root {
    --btnhover: #803bff;
    --primary-color: #965ffa;
    --secondary-color: #f5f2fe;
    --box-shadow: 5px 10px 20px rgba(155, 152, 152, 0.3);

}

body {
    margin-top: 100px !important;
}

.bg-violet {
    background-color: var(--primary-color);
}

.main-content {
    height: 900px;
    padding: 60px 20px;
}

h2,
h1,
h3 {
    margin: 0%;
    text-align: center;
}

footer h4 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.crm {
    margin-bottom: 9px;
    width: 23px;
    height: 18px;
    border-radius: 20%;
}

.text-1 {
    font-size: 75px;
    font-weight: 700;
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
}

.text-1:hover {
    text-shadow: var(--box-shadow);
}

.text-2 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(117, 116, 116);

}

.text-3 {
    font-size: 24px;
    opacity: 0.7;
    font-family: 'Poppins';
    font-weight: 400;
}

.navigation-links {
    display: flex;
    margin-top: 125px;
    justify-content: center;
}

.links {
    display: block;
    margin: 20px;
    border: 4px solid #8443fc;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.links:hover {
    border: 4px solid #915fec;
    background-color: var(--btnhover);
    color: white;
}

.navigation-links a {
    border-radius: 4px;
    margin: 20px;
    border: 4px solid #8443fc;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.about-link {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.contact-link {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.navigation-links a:hover {
    border: 4px solid #915fec;
    background-color: var(--btnhover);
    color: white;
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
    text-decoration: none;
}

.arrow-8 {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    cursor: pointer;
}

.arrow-8:before,
.arrow-8:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    border-left: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
    animation: arrow-8 3s linear infinite;
}

.arrow-8:after {
    animation: arrow-8 3s linear infinite -1.5s;
}

@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -53px) rotate(-45deg);
    }

    10%,
    90% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translate(0, 0) rotate(-45deg);
    }

    100% {
        opacity: 0;
        transform: translate(0, 53px) rotate(-45deg);
    }
}

.about-paragraphs {
    margin: 30px 40px;
}

.about-paragraphs p {
    margin: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.email {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 20px;
}

.email:hover {

    color: #5728ad;
}

.homepage-link:hover {
    text-decoration: underline;
    color: #7f3bfd;
}

.images {
    width: 90%;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
}

.about-section {
    padding: 60px 20px;
    display: flex;

}

.about-section h1 {
    font-size: 64px;
    line-height: 85px;
    font-weight: 700;
    text-align: left;
}

.about-section h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-align: justify;

}

.about-section p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
    color: rgba(39, 33, 66, 0.7);
}

.about-section-content {
    margin: 20px;
}

.project-link {
    border-radius: 4px;
    padding: 18px 30px;

}

.content-container {
    margin: 30px;
}

.content h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
}

.content h3 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
}

.content p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
}

.img-fluid {
    max-width: 76% !important;
}

footer {
    margin: 60px 0;

}

footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .contact-box .links {
    margin: 20px;
    padding: 10px 60px;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;

}


footer .social-links a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}


/*media query*/
@media (max-width: 996px) {

    .main-content {
        height: 400px;
    }

    footer h4 {
        font-size: 26px;
    }

    .text-1 {
        font-size: 60px;
    }

    .text-2 {
        font-size: 30px;
    }

    .text-3 {
        font-size: 18px;
    }

    .email {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .crm {
        margin-bottom: 5px;
        width: 19px;
        height: 14px;
        border-radius: 20%;
    }

    p {
        font-size: 16px;
        text-align: center;
    }

    .about-section {
        text-align: center;
        flex-flow: row-reverse;
        padding: 0;

    }

    .arrow {
        display: none;
    }

    .info {
        order: 2;
    }

    .me {
        order: 1;

    }

    .photo {
        width: 50%;

    }

    .about-section h1 {
        font-size: 50px;
        line-height: 70px;
        text-align: center;
        padding: 0;

    }

    .about-section h2 {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        padding: 0;

    }

    .about-section p {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        padding: 0;

    }

    .project-link {
        display: block;
        padding: 0;
    }

    .links:hover {
        border: 4px solid #915fec;
        background-color: var(--btnhover);
        color: white;
    }

    .navigation-links a:hover {
        border: 4px solid #915fec;
        background-color: var(--btnhover);
        color: white;
    }

    .content h3 {
        font-size: 20px;
        line-height: 1.5;

    }

    .content h1 {

        font-size: 55px;
        line-height: 70px;
    }
}

@media (max-width: 767px) {
    .main-content {
        height: 350px;
    }

    .text-1 {
        font-size: 40px;
    }

    .text-2 {
        font-size: 25px;
    }

    .text-3 {
        font-size: 12px;
    }

    h4 {
        font-size: 26px;
    }

    footer .contact-box .links {
        font-size: 18px;
    }

    .arrow {
        display: none;
    }

    .crm {
        margin-bottom: 3px;
        width: 16px;
        height: 12px;
        border-radius: 10%;
    }

    p {
        font-size: 12px;
        text-align: center;
    }

    img {
        width: 60%;
    }

    .about-paragraphs {
        margin: 5px 20px;
    }

    .links {
        display: block;
        max-width: 70%;
        border: 2px solid #8443fc;
        margin: 5px auto;
        padding: 10px 5px;
    }

    .navigation-links {
        margin: 15px;
        font-size: 13px;
    }

    .navigation-links a {
        border-radius: 2px;
        margin: 10px;
        border: 2px solid #8443fc;
        padding: 13px 7px;
    }

    .navigation-links a:hover {
        border: 2px solid #915fec;
        background-color: var(--btnhover);
        color: white;
    }

    .links:hover {
        border: 2px solid #915fec;
        background-color: var(--btnhover);
        color: white;
    }

    .about-section {
        text-align: center;
        padding: 0;
        flex-flow: row-reverse;
    }

    .info {
        order: 2;
        padding: 0;
    }

    .me {
        order: 1;
        padding: 0;
    }

    .photo {
        width: 40%;
        padding: 0;

    }

    .about-section h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .about-section h2 {
        font-size: 15px;
        line-height: 14px;
    }

    .about-section p {
        font-size: 12px;
        line-height: 15px;
    }

    .content h1 {
        font-size: 45px;
        line-height: 60px;
    }

    .email {
        font-size: 18px;
        margin-bottom: 10px;
    }

}

@media (min-width: 1300px) {
    .crm {
        margin-bottom: 7px;
        width: 26px;
        height: 19px;
        border-radius: 10%;
    }

    .about-paragraphs {
        margin: 35px 45px;
    }

    img {
        width: 80%;
    }

    .links:hover {
        border: 4px solid #915fec;
        background-color: var(--btnhover);
        color: white;
    }

    .navigation-links a:hover {
        border: 4px solid #915fec;
        background-color: var(--btnhover);
        color: white;
    }

    .content p {
        font-size: 20px;
    }

}